<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


		<resultMap type="Board" id="boardResultSet">
        <id property="qnaNo" column="QNA_NO"/>
        <result property="qnaTitle" column="QNA_TITLE"/>
        <result property="qnaContent" column="QNA_CONTENT"/>
        <result property="qnaStatus" column="QNA_STATUS"/>
        <result property="qnaAnswer" column="QNA_ANSWER"/>
        <result property="qnaModifyDate" column="QNA_MODIFY_DATE"/>
        <result property="qnaCreateDate" column="QNA_CREATE_DATE"/>
     	<result property="qnaWriter" column="QNA_WRITER"/>
     	<result property="qnaCategory" column="QNA_CATEGORY"/>
     	
    </resultMap>

	
</mapper>






