<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


		<resultMap type="Board" id="boardResultSet">
        <id property="qnaNo" column="QNA_NO"/>
        <result property="qnaTitle" column="QNA_TITLE"/>
        <result property="qnaContent" column="QNA_CONTENT"/>
        <result property="qnaStatus" column="QNA_STATUS"/>
        <result property="qnaAnswer" column="QNA_ANSWER"/>
        <result property="qnaModifyDate" column="QNA_MODIFY_DATE"/>
        <result property="qnaCreateDate" column="QNA_CREATE_DATE"/>
     	<result property="qnaWriter" column="QNA_WRITER"/>
     	<result property="qnaCategory" column="CATEGORY_NM"/>
     	<result property="writerNick" column="MEMBER_NICK"/>
     	<result property="likeCount" column="LIKE_CNT"/>
     	<result property="rCnt" column="RCNT"/>
     	<result property="replyStatus" column="REPLY_STATUS"/>
     	<result property="replyParentNo" column="REPLY_PARENT_NO"/>
     	
     	
    </resultMap>
    
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="fileNo" column="FILE_NO"/>		
		<result property="parentBoardNo" column="PARENT_BOARD_NO"/>
		<result property="fileOriginName" column="FILE_ORIGIN_NAME"/>
		<result property="fileChangeName" column="FILE_CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap>


      <!-- 자유 질문방  전체 게시글 수 조회 -->
		<select id="getListCount" resultType="_int">
		<!-- SELECT QNA_NO,CATEGORY_NM, QNA_TITLE, QNA_WRITER, QNA_CREATE_DATE, QNA_STATUS , MEMBER_NICK -->
		SELECT COUNT(*)
		FROM QNABOARD
		JOIN QNA_CATEGORY ON (QNA_CATEGORY=CATEGORY_NO)
		JOIN MEMBER ON(QNA_WRITER = MEMBER_NO)
        WHERE QNA_STATUS = 'Y'
		
		</select>



		<!-- 게시글 목록 조회 -->
		<select id = "selectList" parameterType="_int" resultMap = "boardResultSet">
			
			SELECT QNA_NO,CATEGORY_NM, QNA_TITLE, QNA_WRITER, QNA_CREATE_DATE, QNA_STATUS , MEMBER_NICK, LIKE_CNT,
				 (SELECT COUNT(*) FROM REPLY R WHERE R.PARENT_BOARD_NO=Q.QNA_NO AND REPLY_STATUS='Y') RCNT
			FROM QNABOARD Q
			JOIN QNA_CATEGORY ON (QNA_CATEGORY=CATEGORY_NO)
			JOIN MEMBER ON(QNA_WRITER = MEMBER_NO)
			WHERE QNA_STATUS = 'Y'
			ORDER BY QNA_NO DESC
		
		</select>	


	<!-- 게시글 상세 조회 -->
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet" >
		SELECT QNA_NO,CATEGORY_NM, QNA_TITLE, QNA_WRITER, QNA_MODIFY_DATE, QNA_STATUS , MEMBER_NICK, QNA_CONTENT, QNA_ANSWER,
		FROM QNABOARD
		JOIN QNA_CATEGORY ON (QNA_CATEGORY=CATEGORY_NO)
		JOIN MEMBER ON(QNA_WRITER = MEMBER_NO)
		WHERE QNA_NO = #{qnaNo}
	
	</select>

	

  <select id="selectNextNo" resultType="_int" >
 	SELECT SEQ_BNO.NEXTVAL FROM DUAL
  </select>

   <!-- 게시글 작성 -->
    <insert id="insertBoard" parameterType="Board" >
    INSERT INTO QNABOARD VALUES
    (
    #{qnaNo},
    #{qnaTitle},
    'Y',
    DEFAULT,
    SYSDATE,
    SYSDATE,
    #{qnaContent},
    #{qnaWriter},
    #{qnaCategory},
    DEFAULT
    )
  </insert>
   
	
	
 	
 	<!-- 게시글 삭제 -->
 	<update id="deleteBoard" parameterType="_int">
		UPDATE QNABOARD SET
		QNA_STATUS = 'N'
		WHERE QNA_NO = #{qnaNo}
	</update>
	

 	<update id="updateBoard" parameterType="Board">
 	
 	UPDATE QNABOARD SET 
	QNA_CATEGORY = #{qnaCategory},
	QNA_TITLE = #{qnaTitle},
	QNA_CONTENT = #{qnaContent},
	QNA_MODIFY_DATE = SYSDATE
	WHERE QNA_NO = #{qnaNo}
 	
 	
 	</update>

   

	
	<insert id="insertAttachment" parameterType="Attachment">
 	INSERT INTO ATTACHMENT VALUES 
 	(SEQ_FNO.NEXTVAL,#{parentBoardNo},#{fileOriginName},#{fileChangeName},
 	#{filePath},#{fileLevel})
 	</insert>
 	
 	
 	 	
 	<delete id="deleteAttachment" parameterType="_int">
 		DELETE FROM ATTACHMENT
 		WHERE PARENT_BOARD_NO = #{qnaNo}
 	</delete>
 	
 	<select id="mainBoardList" resultType="list" resultMap="boardResultSet">
   	       	    SELECT * FROM (SELECT QNA_NO,CATEGORY_NM,QNA_TITLE,MEMBER_NICK
		FROM QNABOARD 
        JOIN MEMBER ON(QNA_WRITER=MEMBER_NO)
        JOIN QNA_CATEGORY ON(QNA_CATEGORY=CATEGORY_NO)
		WHERE QNA_STATUS = 'Y' 
        AND NOT QNA_WRITER = 1
        ORDER BY QNA_NO DESC )
		<![CDATA[ WHERE ROWNUM <=3 ]]>
 	</select>
 	
 	
 	
<!--  검색 조건이 포함된 전체 게시글 수 조회  -->
<select id="getSearchListCount" parameterType="map" resultType="_int">

SELECT COUNT(*) FROM V_BOARD

<!--  Map 객체를 사용할 경우 ke6 값을 호출하면 해당 value값을 얻을 수 있음 . -->

<!-- Map 객체에 존재하는 key값이 search인 요소의 ct필드 값이 null이 아닐  경우  -->
<if test="search.ct != null">
WHERE QNA_CATEGORY IN
<foreach collection="search.ct" index="index" item="ctName"
		open="(" close=")" separator=",">
		#{ctName}
		</foreach>


</if>
<!-- Map 객체에 존재하는 key 갓이 search인 요소의 sVal필드 값이 null이 아닐 경우  -->
<if test="search.sVal != null">
	<bind name="sv" value="'%' + search.sVal + '%'"/>
AND
<choose>
	<when test="search.sKey == 'tit'">
	
		QNA_TITLE LIKE #{sv}
	</when>
<when test="search.sKey == 'con'">
		QNA_TITLE LIKE #{sv}
	
	</when>
	<otherwise>
 (QNA_TITLE LIKE #{sv}
  OR QNA_CONTENT LIKE #{sv})
	
	</otherwise>
</choose>



</if>
</select>
 	

<!--  검색 게시글 목록 조회  -->
<select id="selectSearchList" parameterType="map" resultMap="boardResultSet">

SELECT *FROM V_BOARD

<if test="search.ct != null">
WHERE QNA_CATEGORY IN
<foreach collection="search.ct" index="index" item="ctName"
		open="(" close=")" separator=",">
		#{ctName}
		</foreach>

</if>
<!-- Map 객체에 존재하는 key 갓이 search인 요소의 sVal필드 값이 null이 아닐 경우  -->
<if test="search.sVal != null">
	<bind name="sv" value="'%' + search.sVal + '%'"/>
AND
<choose>
	<when test="search.sKey == 'tit'">
	
		QNA_TITLE LIKE #{sv}
	</when>
<when test="search.sKey == 'con'">
		QNA_TITLE LIKE #{sv}
	
	</when>
	<otherwise>
 (QNA_TITLE LIKE #{sv}
  OR QNA_CONTENT LIKE #{sv})
	
	</otherwise>
</choose>



</if>
 ORDER BY QNA_NO DESC
</select>
 	
 	   <!-- qna 게시글 좋아요 체크 -->
   <select id="qnaLikeChk" parameterType="map" resultType="_int">
   		SELECT COUNT(*)
   		FROM QNA_BOARD_LIKE
   		WHERE LIKE_QNA_NO = #{qnaNo}
   		AND LIKE_QNA_MEMBER_NO = #{memberNo}
   </select>
   
   <!-- qna 게시글 좋아요 등록 -->
   <insert id="qnaLikeAdd" parameterType="map">
   		INSERT INTO QNA_BOARD_LIKE VALUES (#{qnaNo}, #{memberNo})
   </insert>
   
   <!-- qna 게시글 좋아요 삭제 -->
   <delete id="qnaLikeDelete" parameterType="map">
   		DELETE FROM QNA_BOARD_LIKE
   		WHERE LIKE_QNA_NO = #{qnaNo}
   		AND LIKE_QNA_MEMBER_NO = #{memberNo} 
   </delete>
   
   <!-- qna 게시글 좋아요 갯수 -->
   <select id="qnaLikeCount" parameterType="_int" resultType="_int">
      	SELECT COUNT(*)
   		FROM QNA_BOARD_LIKE
   		WHERE LIKE_QNA_NO = #{qnaNo}
   </select>
   

<!-- 댓글등록,  삭제 후 댓글 수 칼럼 업데이트 -->
 	<update id="updateRcnt" parameterType="_int">
 	  update QNABOARD Q
 	  SET Q.RCNT = (SELECT COUNT(REPLY_NO) FROM REPLY WHERE = #{qnaNo})
 	  WHERE Q.QNA_NO = #{qnaNo}
 	</update>

 	
</mapper>






