<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


		<resultMap type="Board" id="boardResultSet">
        <id property="qnaNo" column="QNA_NO"/>
        <result property="qnaTitle" column="QNA_TITLE"/>
        <result property="qnaContent" column="QNA_CONTENT"/>
        <result property="qnaStatus" column="QNA_STATUS"/>
        <result property="qnaAnswer" column="QNA_ANSWER"/>
        <result property="qnaModifyDate" column="QNA_MODIFY_DATE"/>
        <result property="qnaCreateDate" column="QNA_CREATE_DATE"/>
     	<result property="qnaWriter" column="QNA_WRITER"/>
     	<result property="qnaCategory" column="QNA_CATEGORY"/>
     	
    </resultMap>



<!-- 전체 게시글 수 조회 -->


		<select id="getListCount" parameterType="_int" resultType="_int">
			SELECT COUNT(*) FROM V_QNABOARD
			WHERE BOARD_TYPE = #{boardType}
		</select>



		<!-- 게시글 목록 조회 -->
		<select id = "selectList" parameterType="_int" resultMap = "boardResultSet">
			
			SELECT * FROM V_QNABOARD
			WHERE BOARD_TYPE = #{boardType}
			ORDER BY BOARD_NO DESC
		
		</select>	


	<!-- 게시글 상세 조회 -->
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet" >
		SELECT * FROM V_QNABOARD
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_STATUS = 'Y'
	
	</select>

	

  <select id="selectNextNo" resultType="_int" >
 	SELECT SEQ_BNO.NEXTVAL FROM DUAL
  </select>


	 <insert id="insertBoard" parameterType="Board" >
 	INSERT INTO BOARD VALUES
 	(
 	#{qnaNo},
 	#{qnaTitle},
 	#{qnaContent},
 	DEFAULT,
 	DEFAULT,
 	DEFAULT,
 	DEFAULT,
 	#{boardWriter},
 	#{boardCategory},
 	#{boardType})
  </insert>
	
	
	<update id="deleteBoard" parameterType="Board">
	UPDATE BOARD SET 
	BOARD_STATUS = 'N'
	WHERE BOARD_NO = #{boardNo}
	AND BOARD_TYPE = #{boardType}
	
	
	
	</update>
 
 
 	<update id="updateBoard" parameterType="Board">
 	
 	UPDATE BOARD SET 
	BOARD_CATEGORY = #{boardCategory},
	BOARD_TITLE = #{boardTitle},
	BOARD_CONTENT = #{boardContent},
	BOARD_MODIFY_DT = SYSDATE
	WHERE BOARD_NO = #{boardNo}
 	
 	
 	</update>
	
</mapper>






