<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="helpMapper">


		<resultMap type="Help" id="helpResultSet">
        <id property="helpNo" column="HELP_NO"/>
        <result property="helpCategory" column="CATEGORY_NM"/>
        <result property="helpTitle" column="HELP_TITLE"/>
        <result property="helpContent" column="HELP_CONTENT"/>
        <result property="helpWriter" column="MEMBER_NICK"/>
        <result property="helpCreateDate" column="HELP_CREATE_DATE"/>
        <result property="helpModifyDate" column="HELP_MODIFY_DATE"/>
        <result property="lockStatus" column="LOCK_STATUS"/>
        <result property="answerChk" column="ANSWER_CHK"/>
		
		
     
    </resultMap>
    
    <!-- 고객센터 전체 게시글 수 조회 -->
  	<select id="getAllCount" resultType="_int">
		SELECT COUNT(*) FROM ALL_HELP
  	</select>
  	
  	<!-- 문의글 목록 조회 -->
  	<select id="selectList" parameterType="_int" resultMap="helpResultSet">
  		SELECT * FROM All_HELP
  		ORDER BY HELP_NO DESC
  	</select>
    
    <!-- 문의글 상세 조회 -->
	<select id="selectView" parameterType="_int" resultMap="helpResultSet">
		SELECT * FROM All_HELP
		WHERE HELP_NO = #{boardNo}
	</select>
	
	<!-- 문의글 다음 넘버 가져오기 -->
	<select id="selectNextNo" resultType="_int">
  			SELECT SEQ_HNO.NEXTVAL FROM DUAL
  	</select>
	
	<!-- 문의글 작성 -->
	<insert id="insertHelp" parameterType="help">
		INSERT INTO HELPBOARD
		VALUES(#{helpNo},#{helpCategory},#{helpTitle},#{helpContent},
				#{helpWriter},SYSDATE,'Y',SYSDATE,#{lockStatus},DEFAULT)
	</insert>
	
	<!-- 문의글 삭제 -->
	<update id="deleteHelp" parameterType="_int">
		UPDATE HELPBOARD SET
		HELP_STATUS = 'N'
		WHERE HELP_NO = #{helpNo}
	</update>
	
	<!-- 문의글 수정 -->
	<update id="updateHelp" parameterType="help">
		UPDATE HELPBOARD SET
		HELP_CATEGORY=#{helpCategory}, HELP_TITLE=#{helpTitle}, HELP_CONTENT=#{helpContent},
		HELP_MODIFY_DATE=SYSDATE, LOCK_STATUS=#{lockStatus}
		WHERE HELP_NO=#{helpNo}
	</update>

	
</mapper>






