<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<!-- mapper.xml : SQL을 작성해두고 외부 요청 시 필요한 SQL 매핑해주는 문서 -->
	
	<resultMap id="memberResultSet" type="Member" >
		<!-- id에는 DB 기본키에 해당하는 필드와 컬럼을 작성 -->
		<id property="memberNo" column="MEMBER_NO"/>
		
		<!-- result에는 DB 일반 컬럼에 해당하는 필드와 컬럼을 작성 -->
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NM"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="memberAge" column="MEMBER_AGE"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberInterest" column="MEMBER_INTEREST"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DT"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberGrade" column="MEMBER_GRADE"/>
		<result property="emailVerify" column="EMAIL_VERIFY"/>
		<result property="authKey" column="EMAIL_KEY"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT * FROM MEMBER 
		WHERE MEMBER_ID= #{memberId}
		AND MEMBER_STATUS != 'N' AND EMAIL_VERIFY='Y'
	</select>
	
	<!-- 회원가입(아이디 중복검사) -->
	<select id="idDupCheck" parameterType="string" resultType = "_int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{memberId} AND MEMBER_STATUS = 'Y' 
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="Member">
		INSERT INTO MEMBER VALUES(SEQ_MNO.NEXTVAL, #{memberId}, #{memberPwd}, 
		#{memberName}, #{memberNick}, #{memberAge}, #{memberPhone}, 
		#{memberId}, #{memberInterest},	DEFAULT, DEFAULT, DEFAULT, DEFAULT, #{authKey})
	</insert>
	
	<!-- 회원가입 (이메일 인증 코드 확인) -->
	<select id="chkAuthkey"  parameterType="Member" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE EMAIL_KEY=#{authKey} AND MEMBER_STATUS='Y'
	</select>
	
	<!-- 회원가입 (이메일 인증 후 Y로 컬럼값 변경) -->
	<update id="keyConfirm" parameterType="map">
		UPDATE MEMBER SET EMAIL_VERIFY='Y'
		WHERE EMAIL_KEY=#{authKey}
	
	</update>
	
	<!-- 아이디찾기 -->
	<select id="findId" parameterType="map" resultType="String">
	SELECT
     RPAD(SUBSTR(MEMBER_ID,1,4),length(SUBSTR(MEMBER_ID,1,INSTR(MEMBER_ID,'@')-1)) , '*') || '@' ||
    SUBSTR(MEMBER_ID,INSTR(MEMBER_ID,'@')+1) 
	FROM MEMBER WHERE MEMBER_NM = #{memberName} AND MEMBER_PHONE=#{memberPhone}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<update id="findPwd" parameterType="map">
		UPDATE MEMBER SET MEMBER_PWD=#{pw} 
		WHERE MEMBER_NM = #{memberName} AND MEMBER_PHONE=#{memberPhone} AND MEMBER_ID=#{memberId} AND MEMBER_STATUS = 'Y'
	</update>
	
	
</mapper>
