<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">
 	
 	<!-- 멤버 -->
 	<resultMap id="memberResultSet" type="Member" >
		<!-- id에는 DB 기본키에 해당하는 필드와 컬럼을 작성 -->
		<id property="memberNo" column="MEMBER_NO"/>
	
		<!-- result에는 DB 일반 컬럼에 해당하는 필드와 컬럼을 작성 -->
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NM"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="memberInterest" column="MEMBER_INTEREST"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberGrade" column="MEMBER_GRADE"/>
	</resultMap>

	<!-- 고객센터 -->
	<resultMap id="helpResultSet" type="Help" >
        <id property="helpNo" column="HELP_NO"/>
        <result property="helpCategory" column="CATEGORY_NM"/>
        <result property="helpTitle" column="HELP_TITLE"/>
        <result property="helpContent" column="HELP_CONTENT"/>
        <result property="helpWriter" column="HELP_WRITER"/>
        <result property="helpCreateDate" column="HELP_CREATE_DATE"/>
        <result property="helpModifyDate" column="HELP_MODIFY_DATE"/>
        <result property="helpStatus" column="HELP_STATUS"/>
        <result property="writerNick" column="MEMBER_NICK"/>
        <result property="lockStatus" column="LOCK_STATUS"/>
    </resultMap>
     
     <!-- 자유질문방 -->
	<resultMap id="qnaResultSet" type="Board" >
        <id property="qnaNo" column="QNA_NO"/>
        <result property="qnaCategory" column="QNA_CATEGORY"/>
        <result property="qnaTitle" column="QNA_TITLE"/>
        <result property="qnaContent" column="QNA_CONTENT"/>
        <result property="writer" column="QNA_WRITER"/>
        <result property="qnaStatus" column="QNA_STATUS"/>
        <result property="qnaAnswer" column="QNA_ANSWER"/>
        <result property="qnaCreateDate" column="QNA_CREATE_DATE"/>
        <result property="qnaModifyDate" column="QNA_MODIFY_DATE"/>
        <result property="writerNick" column="MEMBER_NICK"/>
    </resultMap>
    
         <!-- 자유질문방 댓글 -->
	<resultMap id="ReplyResultSet" type="Reply" >
        <id property="replyNo" column="REPLY_NO"/>
        <result property="qnaNo" column="QNA_NO"/>
        <result property="content" column="REPLY_CONTENT"/>
        <result property="replyWriter" column="REPLY_WRITER"/>
        <result property="replySelect" column="REPLY_SELECT"/>
        <result property="replyStatus" column="REPLY_STATUS"/>
        <result property="replyCreateDate" column="REPLY_CREATE_DATE"/>
        <result property="replyModifyDate" column="REPLY_MODIFY_DATE"/>
        <result property="writerNick" column="MEMBER_NICK"/>
        <result property="qnaTitle" column="QNA_TITLE"/>
        <result property="qnaContent" column="QNA_CONTENT"/>
        <result property="qnaWriter" column="QNA_WRITER"/>
    </resultMap>
    
    <!-- 스터디 방 -->
    <resultMap type="Room" id="roomResultSet">
        <id property="roomNo" column="ROOM_NO"/>
        <result property="memberNo" column="ROOM_MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="roomTitle" column="ROOM_TITLE"/>
        <result property="roomContent" column="ROOM_CONTENT"/>
        <result property="roomPassword" column="ROOM_PWD"/>
        <result property="roomType" column="ROOM_TYPE"/>
        <result property="roomTypeName" column="ROOM_TYPE_NAME"/>
        <result property="roomCreateDate" column="ROOM_CREATE_DATE"/>
        <result property="roomModifyDate" column="ROOM_MODIFY_DATE"/>
        <result property="roomOpen" column="ROOM_OPEN"/>
        <result property="memberNick" column="MEMBER_NICK"/>
        <result property="roomTag" column="ROOM_TAG"/>
        <result property="roomMaxNumber" column="ROOM_MAX_NUMBER"/>
        <result property="roomMemberCount" column="ROOM_ENTER_NUMBER"/>
    </resultMap>
    
    <!-- 방 멤버 -->
	<resultMap id="RoomMemberResultSet" type="RoomMember" >
        <id property="roomMemberRoomNo" column="ROOM_MEMBER_ROOM_NO"/>
        <result property="roomMemberMemberNo" column="ROOM_MEMBER_MEMBER_NO"/>
        <result property="roomMemberMemberGrade" column="ROOM_MEMBER_MEMBER_GRADE"/>
        <result property="roomMemberEnrollDate" column="ROOM_MEMBER_ENROLL_DATE"/>
    </resultMap>
    
    <!-- 신고 멤버 -->
    <resultMap id="ReportMemberResultSet" type="ReportMember">
    	<id property="memberNo" column="MEMBER_NO"/>
    	<result property="reportStatus" column="REPORT_STATUS"/>
    	<result property="reportCount" column="REPORT_COUNT"/>
    	<result property="reportDate" column="REPORT_DATE"/>
    	<result property="memberNick" column="MEMBER_NICK"/>
    	<result property="boardNo" column="REPORT_BOARD_NO"/>
    </resultMap>
    
   <!-- 비밀번호 찾기 -->
   <select id="checkPwd" parameterType="_int" resultType="string">
      SELECT MEMBER_PWD FROM MEMBER WHERE MEMBER_NO = #{memberNo}
   </select>
	
   <!-- 회원 정보 변경 -->
   <update id="updateInfo" parameterType="Member">
      UPDATE MEMBER SET MEMBER_PWD=#{memberPwd}, MEMBER_NICK=#{memberNick}, MEMBER_PHONE=#{memberPhone}, MEMBER_INTEREST=#{memberInterest} WHERE MEMBER_NO = #{memberNo}
   </update>
	
	<!-- 회원 탈퇴 -->
	<update id="deleteInfo" parameterType="_int">
		UPDATE MEMBER SET MEMBER_STATUS='N' WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 신고 게시글 수 조회 -->
	<select id="getListDCount" resultType="_int">
		SELECT COUNT(*) FROM QNABOARD WHERE QNA_STATUS='D'
	</select>
	
	<!-- 총 신고 게시글 조회 -->
	<select id="selectDList" resultMap="qnaResultSet">
		SELECT * FROM QNABOARD JOIN MEMBER ON(QNA_WRITER=MEMBER_NO) WHERE QNA_STATUS='D' ORDER BY QNA_CREATE_DATE DESC
	</select>
		
	<!-- 고객센터 게시글 수 조회 -->
	<select id="getListQCount" resultType="_int">
		SELECT COUNT(*) FROM HELPBOARD
	</select>
	
	<!-- 총 고객센터 게시글 조회 -->
	<select id="selectQList" resultMap="helpResultSet">
		SELECT * FROM HELPBOARD JOIN MEMBER ON(HELP_WRITER=MEMBER_NO) JOIN HELP_CATEGORY ON(HELP_CATEGORY=CATEGORY_NO) ORDER BY HELP_CREATE_DATE DESC
	</select>
			
	<!-- 공지사항 수 조회 -->
	<select id="getListNCount" resultType="_int">
		SELECT COUNT(*) FROM QNABOARD WHERE QNA_WRITER = 1
	</select>
	
	<!-- 총 NoticeList 조회 -->
	<select id="selectNList" resultMap="qnaResultSet">
		SELECT * FROM QNABOARD JOIN MEMBER ON(QNA_WRITER=MEMBER_NO)WHERE QNA_WRITER = 1 ORDER BY QNA_CREATE_DATE DESC
	</select>
		
	<!-- 멤버 수 조회 -->
	<select id="getListMCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<!-- 총 MemberList 조회 -->
	<select id="selectMList" resultMap="memberResultSet">
		SELECT * FROM MEMBER ORDER BY MEMBER_NO DESC
	</select>
	
	<!-- 내가 쓴 글 수 조회 -->
	<select id="getListBCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM QNABOARD WHERE QNA_WRITER = #{writer} ORDER BY QNA_CREATE_DATE DESC
	</select>

	<!-- 총 boardList 조회 -->
	<select id="selectBList" parameterType="_int" resultMap="qnaResultSet">
		SELECT * FROM QNABOARD WHERE QNA_WRITER = #{replyWriter} ORDER BY QNA_CREATE_DATE DESC
	</select>

	<select id="selectRoomMemberList" parameterType="_int" resultMap="RoomMemberResultSet">
		SELECT * FROM ROOM_MEMBER WHERE ROOM_MEMBER_MEMBER_NO = #{roomMemberMemberNo}
	</select>
	
	<!-- 채택된 댓글 수 조회 -->
	<select id="getListRCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REPLY WHERE REPLY_WRITER = #{replyWriter} AND REPLY_SELECT='Y'
	</select>

	<!-- 총 replyList 조회 -->
	<select id="selectRList" parameterType="_int" resultMap="ReplyResultSet">
		SELECT * FROM REPLY JOIN MEMBER ON(REPLY_WRITER=MEMBER_NO) JOIN QNABOARD USING(QNA_NO) WHERE REPLY_WRITER = #{replyWriter} AND REPLY_SELECT='Y' ORDER BY REPLY_CREATE_DATE DESC
	</select>
	
	<select id="reportCount" resultType="_int">
		SELECT COUNT(*) FROM QNABOARD WHERE QNA_STATUS='D' AND QNA_CREATE_DATE=(TO_CHAR(SYSDATE,'YY/MM/DD'))
	</select>	
	
	<select id="qnaCount" resultType="_int">
		SELECT COUNT(*) FROM HELPBOARD WHERE HELP_CREATE_DATE=(TO_CHAR(SYSDATE,'YY/MM/DD'))
	</select>	
	
	<select id="roomCount" resultType="_int">
		SELECT COUNT(*) FROM STUDY_ROOM WHERE ROOM_CREATE_DATE=(TO_CHAR(SYSDATE,'YY/MM/DD'))
	</select>	
	
	<select id="memberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ENROLL_DATE=(TO_CHAR(SYSDATE,'YY/MM/DD'))
	</select>
	
	<select id="selectReport" resultMap="qnaResultSet">
		SELECT * FROM QNABOARD WHERE QNA_STATUS='D' AND QNA_CREATE_DATE=(TO_CHAR(SYSDATE,'YY/MM/DD')) ORDER BY QNA_CREATE_DATE DESC
	</select>
	
	<!-- 내가 입장한 방 수 조회 -->
	<select id="getListRoomCount" parameterType="list" resultType="_int">
		SELECT COUNT(*) FROM STUDY_ROOM WHERE ROOM_NO IN 
		<foreach collection="list" index="i" item="roomList" open="(" close=")" separator=",">
     		#{roomList.roomMemberRoomNo}
     	</foreach>
	</select>
	
	<select id="selectRoomList" parameterType="list" resultMap="roomResultSet">
		SELECT * FROM STUDY_ROOM WHERE ROOM_NO IN
		<foreach collection="list" index="i" item="roomList" open="(" close=")" separator=",">
     		#{roomList.roomMemberRoomNo}
     	</foreach>
     	ORDER BY ROOM_CREATE_DATE DESC
	</select>
	
	<!-- 공지사항 상세조회  -->
	<select id="noticeView" parameterType="_int" resultMap="qnaResultSet">
		SELECT * FROM QNABOARD JOIN MEMBER ON(QNA_WRITER=MEMBER_NO) WHERE QNA_NO=#{qnaNo}
	</select>
	
	<update id="updateNotice" parameterType="Board">
		UPDATE QNABOARD SET QNA_CATEGORY=#{qnaCategory}, QNA_TITLE=#{qnaTitle}, QNA_CONTENT=#{qnaContent}, QNA_MODIFY_DATE=SYSDATE WHERE QNA_NO=#{qnaNo}
	</update>
		
	<!-- 공지사항 삭제 -->
	<update id="deleteNotice" parameterType="_int">
		UPDATE QNABOARD SET QNA_STATUS='N' WHERE QNA_NO = #{qnaNo} 
	</update>
	
	<select id="selectBoardNo" resultType="_int">
		SELECT SEQ_BNO.NEXTVAL FROM DUAL
	</select>
	
	<insert id="noticeWrite" parameterType="Board">
		INSERT INTO QNABOARD VALUES(#{qnaNo}, #{qnaTitle}, DEFAULT, DEFAULT, SYSDATE, SYSDATE, DEFAULT, #{writer}, #{qnaContent})
	</insert>
	
	<update id="restoreReport" parameterType="_int">
		UPDATE QNABOARD SET QNA_STATUS='Y' WHERE QNA_NO = #{qnaNo}
	</update>
	
	<select id="findMember" parameterType="string" resultMap="ReportMemberResultSet">
		SELECT * FROM REPORT_MEMBER WHERE MEMBER_NO = (SELECT MEMBER_NO FROM MEMBER WHERE MEMBER_NICK=#{memberNick})
	</select>
	
	<insert id="insertMember" parameterType="ReportMember">
		INSERT INTO REPORT_MEMBER VALUES((SELECT MEMBER_NO FROM MEMBER WHERE MEMBER_NICK=#{memberNick}),DEFAULT,DEFAULT,DEFAULT,#{boardNo})
	</insert>
	
	<update id="updateReport" parameterType="ReportMember">
		UPDATE REPORT_MEMBER SET REPORT_COUNT=REPORT_COUNT+1, REPORT_BOARD_NO=#{boardNo}, REPORT_DATE = SYSDATE, REPORT_STATUS='Y' WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="restoreMember" parameterType="_int">
		UPDATE REPORT_MEMBER SET REPORT_STATUS='N' WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="helpView" parameterType="_int" resultMap="helpResultSet">
		SELECT * FROM HELPBOARD WHERE HELP_NO = #{helpNo}
	</select>

</mapper>
