<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">



		<resultMap type="Board" id="boardResultSet">
        <id property="qnaNo" column="QNA_NO"/>
        <result property="qnaCategory" column="QNA_TITLE"/>
        <result property="qnaTitle" column="QNA_CONTENT"/>
        <result property="qnaStatus" column="QNA_COUNT"/>
        <result property="qnaAnswer" column="QNA_CREATE_DT"/>
        <result property="qnaModifyDate" column="QNA_MODIFY_DT"/>
        <result property="qnaCreateDate" column="QNA_ID"/>
     
    </resultMap>

	
 
</mapper>






