<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="roomBoardReplyMapper">
	<resultMap type="RoomBoardReply" id="roomBoardReplyResultSet">
		<id property="replyNo" column="ROOM_BOARD_REPLY_NO"/>
        <result property="replyContent" column="ROOM_BOARD_REPLY_CONTENT"/>
        <result property="parentBoardNo" column="ROOM_BOARD_PARENT_BOARD_NO"/>
        <result property="parentReplyNo" column="ROOM_BOARD_PARENT_REPLY_NO"/>
        <result property="replyDepth" column="ROOM_BOARD_REPLY_DEPTH"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="replyCreateDate" column="ROOM_BOARD_REPLY_CREATE_DT"/>
        <result property="replyModifyDate" column="ROOM_BOARD_REPLY_MODIFY_DT"/>
        <result property="replyStatus" column="ROOM_BOARD_REPLY_STATUS"/>
	</resultMap>
	
	<select id="selectList" parameterType="_int" resultMap="roomBoardReplyResultSet">
		SELECT ROOM_BOARD_REPLY_NO, ROOM_BOARD_REPLY_CONTENT, ROOM_BOARD_PARENT_BOARD_NO, ROOM_BOARD_PARENT_REPLY_NO, ROOM_BOARD_REPLY_DEPTH, MEMBER_ID, ROOM_BOARD_REPLY_CREATE_DT, ROOM_BOARD_REPLY_MODIFY_DT, ROOM_BOARD_REPLY_STATUS
		FROM ROOM_BOARD_REPLY
		JOIN MEMBER ON(ROOM_BOARD_REPLY_WRITER = MEMBER_NO)
		WHERE ROOM_BOARD_REPLY_STATUS = 'Y'
		AND ROOM_BOARD_PARENT_BOARD_NO = #{boardNo}
		ORDER BY ROOM_BOARD_PARENT_REPLY_NO DESC, ROOM_BOARD_REPLY_NO ASC
	</select>
	
		<!-- 댓글 삽입 -->
	<insert id="insertReply" parameterType="RoomBoardReply">
		INSERT INTO ROOM_BOARD_REPLY(ROOM_BOARD_REPLY_NO, ROOM_BOARD_REPLY_CONTENT, ROOM_BOARD_PARENT_BOARD_NO, ROOM_BOARD_PARENT_REPLY_NO, ROOM_BOARD_REPLY_WRITER) 
		VALUES(SEQ_RBRNO.NEXTVAL, #{replyContent}, #{parentBoardNo}, SEQ_RBRNO.CURRVAL , #{memberId})
	</insert>
	
		<!-- 댓글 삽입 -->
	<insert id="insertReply2" parameterType="RoomBoardReply">
		INSERT INTO ROOM_BOARD_REPLY(ROOM_BOARD_REPLY_NO, ROOM_BOARD_REPLY_CONTENT, ROOM_BOARD_PARENT_BOARD_NO, ROOM_BOARD_PARENT_REPLY_NO, ROOM_BOARD_REPLY_DEPTH, ROOM_BOARD_REPLY_WRITER) 
		VALUES(SEQ_RBRNO.NEXTVAL, #{replyContent}, #{parentBoardNo}, #{parentReplyNo}, 1, #{memberId})
	</insert>
</mapper>
